<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow"/>
    <title>Qafoo Galaxy - Curated Ansible Roles</title>

    <style type="text/css">
        {% include 'bootstrap.min.css' %}
    </style>
    <style>
        .container {
            max-width: 890px;
        }

        .page-header h1 {
            margin-bottom: 0;
        }

        h2 {
            margin-top: 35px;
        }

        .lead {
            margin-top: 18px;
            margin-bottom: 35px;
        }

        .segment-1 {
            background: #ffffff;
            width: 100%;
        }

        .segment-2 {
            background: #f5f5f5;
            width: 100%;
            margin-top: 35px;
        }

        .segment-2 .page-header {
            margin-top: 20px;
        }

        .segment-2 .page-header h1 {
            margin-top: 5px;
        }

        .dl-horizontal {
            margin-top: 30px;
            margin-bottom: 0;
        }

        /*
         * Callouts
         *
         * Not quite alerts, but custom and helpful notes for folks reading the docs.
         * Requires a base and modifier class.
         */

        /* Common styles for all types */
        .bs-callout {
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }

        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }

        .bs-callout p:last-child {
            margin-bottom: 0;
        }

        .bs-callout code {
            border-radius: 3px;
        }

        /* Tighten up space between multiple callouts */
        .bs-callout + .bs-callout {
            margin-top: -5px;
        }

        /* Variations */
        .bs-callout-danger {
            border-left-color: #d9534f;
        }

        .bs-callout-danger h4 {
            color: #d9534f;
        }

        .bs-callout-warning {
            border-left-color: #f0ad4e;
        }

        .bs-callout-warning h4 {
            color: #f0ad4e;
        }

        .bs-callout-info {
            border-left-color: #5bc0de;
        }

        .bs-callout-info h4 {
            color: #5bc0de;
        }

        .bs-callout-success {
            border-left-color: #5cb85c;
        }

        .bs-callout-success h4 {
            color: #5cb85c;
        }

        .bs-callout-bg-white {
            background-color: #ffffff;
        }

    </style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="segment-1">
    <div class="container">
        <div class="page-header">
            <h1>Qafoo Galaxy
                <small>Curated Ansible Roles</small>
            </h1>
        </div>

        <p class="lead">
            <em>Qafoo Galaxy</em> is a set of curated <a href="http://docs.ansible.com/">Ansible
                roles</a>, which are managed by composer for easy reuse and
            maintanance.
        </p>

        <div class="bs-callout bs-callout-info">
            <h4>Project Structure</h4>
            <p>
                Each Role is contained within its own git repository inside the
                <code>QafooGalaxy</code> github organization. There are very simple roles,
                which simply ensure a certain package is installed, like
                <em>Git</em>. Other roles exist, which allow for more complex
                configuration, like <em>npm</em>, which allows for an
                installation
                of node packages using the <a href="http://npmjs.org">npm</a>
                package manager.
            </p>
        </div>

        <h2>Why composer?</h2>
        <p>
            Composer is mostly known as the way of managing <a
                    href="http://php.net">PHP</a>
            packages. It is however flexible enough to support specialized
            installers, which
            may be written to support different scenarios. We have exactly done
            this for the
            use case of ansible roles. By reusing a package manager like
            composer, we don't
            need to think about dependency management or version maintenance,
            but are able
            to concentrate on the import things: Ansible Roles.
        </p>

        <h2>Using Qafoo Galaxy</h2>
        <p>
            In order to use Qafoo Galaxy Roles, just put a
            <code>composer.json</code> file
            into the ansible automation directory of your project, specifying
            all needed
            roles. The following file may be used as a template:
    <pre>{
        "repositories": [
            {
                "packagist": false
            },
            {
                "type": "composer",
                "url": "{{ url }}"
            }
        ],

        "require": {
            "qafoogalaxy/some-role": "dev-master",
            "qafoogalaxy/another-role": "dev-master",
            ...
        }
    }</pre>

        <div class="bs-callout bs-callout-warning">
            <h4>Warning: Experimental</h4>
            <p>
                The Qafoo Galaxy Repository is considered <b>highly
                    experimental</b> at this
                moment in time.

                Even though it is used by us in productive enviroments, it
                currently is limited
                for example to the Ubuntu platform. However we are always happy
                to receive pull
                request for our roles, which integrate compatibility layers for
                other operating
                systems.
            </p>
        </div>

        <h2>Supporting Qafoo Galaxy Development</h2>
        <p>
            Pull requests on any of the <a
                    href="http://github.com/QafooGalaxy">Qafoo Galaxy</a>
            repositories on github are always welcome.

            New roles are of course welcome as well. Just create
            a repository on github containing a new role. After that drop
            as a line. We will then happily fork your role into our
            organization for anybody to use.

            The <a href="http://github.com/QafooGalaxy/bootstrap-role">bootstrap-role</a>
            repository contains a basic Template for a basic role, as
            it should be created. Simply create a new new
        </p>
    </div>
</div>

<div class="segment-2">
    <div class="container">
        <div class="page-header">
            <h1>Browse the Repository</h1>
        </div>
        <div class="form-group">
            <label class="sr-only" for="search">Search</label>
            <input type="text" class="form-control" id="search"
                   placeholder="Search Packages..." autocomplete="off">
            <span class="help-block">Enter search terms to filter packages stored in this repository.</span>
        </div>

        {% for name, package in packages %}
            <div class="bs-callout bs-callout-success bs-callout-bg-white">
                <h4 class="package-name"
                    id="{{ package.highest.name }}">{{ package.highest.name }}</h4>
                {% if package.highest.description %}
                    <p>{{ package.highest.description }}</p>
                {% endif %}
                <dl class="dl-horizontal">
                    {% if package.highest.homepage %}
                        <dt>Homepage</dt>
                        <dd>
                            <a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a>
                        </dd>
                    {% endif %}
                    {% if package.highest.license %}
                        <dt>License</dt>
                        <dd>{{ package.highest.license|join(', ') }}</dd>
                    {% endif %}
                    {% if package.highest.authors %}
                        <dt>Authors</dt>
                        <dd>
                            {% for author in package.highest.authors %}
                                {%- if author.homepage -%}
                                    <a href="{{ author.homepage }}">{{ author.name }}</a>
                                {%- else -%}
                                    {{ author.name }}
                                {%- endif -%}
                                {%- if not loop.last -%}, {% endif -%}
                            {% endfor %}
                        </dd>
                    {% endif %}
                    {% if package.highest.support %}
                        <dt>Support</dt>
                        <dd>
                            <ul class="list-unstyled">
                                {% for support_type, support_url in package.highest.support %}
                                    <li>{{ support_type|capitalize }}: <a
                                                href="{{ support_url }}">{{ support_url }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    {% endif %}
                    <dt>Releases</dt>
                    <dd>
                        {% for version in package.versions %}
                            {%- if version.distType -%}
                                <a href="{{ version.distUrl }}"
                                   title="{{ version.distReference }}">{{ version.prettyVersion }}</a>
                            {%- else -%}
                                <a href="{{ version.sourceUrl }}"
                                   title="{{ version.sourceReference }}">{{ version.prettyVersion }}</a>
                            {%- endif -%}
                            {%- if not loop.last -%}, {% endif -%}
                        {% endfor %}
                    </dd>
                    <dt>Required by</dt>
                    <dd>
                        {% set package_dependencies = attribute(dependencies, name) %}
                        {% if package_dependencies|length %}
                            <ul class="list-unstyled">
                                {% for dependency in package_dependencies %}
                                    <li>
                                        <a href="#{{ dependency }}">{{ dependency }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                </dl>
            </div>
        {% endfor %}
        <p>
            <small>This Composer Repository is proudly powered by <a
                        href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }}
                - Last
                updated:  {{ "now"|date(constant('\DateTime::ISO8601')) }}
            </small>
        </p>
    </div>
</div>

<script>
    {% include 'jquery-2.1.1.min.js' %}
    $(function () {
        var packages = $('h4.package-name');
        var timer;
        $('input#search').keyup(function () {
            clearTimeout(timer);
            var ms = 350; // milliseconds
            var needle = $(this).val().toLowerCase(), show;
            timer = setTimeout(function () {
                packages.each(function () {
                    show = $(this).text().toLowerCase().indexOf(needle) != -1;
                    $(this).parent().toggle(show);
                });
            }, ms);
        }).focus();
        $('input#search').change(function () {
            window.location.hash = "!/" + $(this).val().toLowerCase();
        });
        $(window).on("hashchange", function () {
            var $input = $('input#search');
            if (window.location.hash.indexOf("#!/") == 0) {
                $input.val(window.location.hash.replace(/#!\//, "").toLowerCase());
                $input.trigger("keyup");
            } else {
                var $anchor = $("h3[id='" + window.location.hash.replace(/^#/, "") + "']");
                if ($anchor.length != $anchor.filter(":visible").length) {
                    $input.val("").trigger("keyup");
                    $anchor.get(0).scrollIntoView();
                }
            }
        });
        $(window).trigger("hashchange");
    });
</script>
</body>
</html>
